@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Product List</PageTitle>

<h1>Product List</h1>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price $</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private GetProductModel[] products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<GetProductModel[]>("https://localhost:7210/product/get-products-public");
    }

    public class GetProductModel
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
        public decimal Price { get; set; }
        public int Quantity { get; set; }
    }
}
